* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #020621;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

/* 

NAV BAR

*/

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}

.barco__logo--wrapper {
  width: 180px;
  display: flex;
  overflow: hidden;
  z-index: 1;
}

.barco__logo {
  width: 100%;
}
